<ul class="init-hidden hidden">
    <li id="game-1" class="game">
        <ul>
            <li>Open Nice, 2001</li>
            <li>
                <div>&#11036; &#189;</div>
                <div>
                    Stefanova, A - W.W.Ch. 2004
                </div>
            </li>
            <li>
                <div>&#11035; &#189;</div>
                <div>
                    Grollemund, B
                </div>
            </li>
        </ul>
    </li>
    <hr>
    <li id="game-2" class="game">
        <ul>
            <li>Top 12, 2016</li>
            <li>
                <div>&#11036; 1</div>
                <div>
                    Grollemund, B
                </div>
            </li>
            <li>
                <div>&#11035; 0</div>
                <div>
                    Schlosser, P - GMI
                </div>
            </li>
        </ul>
    </li>
    <hr>
    <li id="game-3" class="game">
        <ul>
            <li>Nationale 1, 2017</li>
            <li>
                <div>&#11036; 1</div>
                <div>
                    Grollemund, B
                </div>
            </li>
            <li>
                <div>&#11035; 0</div>
                <div>
                    Turdyev, A - FM
                </div>
            </li>
        </ul>
    </li>
</ul>